*.md
!/README.md

.DS_Store
Thumbs.db
desktop.ini

.vscode/
idea/
*.swp
*.swo

node_modules/
/.npm-cache/
/playwright-report/
/test-results/
/blob-report/
/.browser-profiles/
/.cache/ms-playwright/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.bak
backup/
music/
